@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000000;  
    background: -webkit-linear-gradient(to right, #0f9b0f, #000000); 
    background: linear-gradient(to right, #0f9b0f, #000000); 
    transition: 1s;
}
.slide 
{
    background: #8A2387; 
    background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387); 
    background: linear-gradient(to right, #F27121, #E94057, #8A2387); 

}
.container 
{
    position: relative;
    width: 800px;
    height: 400px;
    background: rgba(0,0,0,0.125);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .box
{
    position: relative;
    width: 50%;
    height: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}
.container .box h2
{
    color: #fff;
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 10px;
}
.container .box button
{
    cursor: pointer;
    padding: 10px 50px;
    background: #fff;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    border: none;
}
.formBx 
{
    position: absolute;
    left: 50px;
    width: 350px;
    height: 480px;
    z-index: 1000;  
    transition: 0.5s;
    background: #fff;
    overflow: hidden;
    box-shadow: 0 5px 25px rgba(0,0,0,0.15);
    transition-delay: 0.5s;
}
.slide .container .formBx
{
    left: 400px;
}
.formBx .form
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    background: #fff;
}

.formBx .form.signupForm
{
    top: 100%;
    transition-delay: 0s;
}
.slide .formBx .form.signupForm
{
    transition-delay: 1s;
    top: 0;
}
.formBx .form.signinForm
{
    top: 0;
    transition-delay: 1s;
}
.slide .formBx .form.signinForm
{
    top: -100%;
    transition-delay: 0s;
}

.formBx .form form 
{
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    width: 100%;
}
.formBx .form form h3 
{
    font-size: 1.4em;
    color: #333;
    margin-bottom: 20px;
    font-weight: 600
}

.formBx .form form input 
{
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 10px;
    outline: none;
    font-size: 16px;
    border: 1px solid #333;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 0.1em;
}

.formBx form input[type="submit"]
{
    background: #a8ff78; 
    background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);
    background: linear-gradient(to right, #78ffd6, #a8ff78);
    border: none;
    color: #010101;
    max-width: 150px;
    cursor: pointer;
    font-weight: 500;
}
.formBx .signupForm form input[type="submit"]
{
    background: #ED213A; 
    background: -webkit-linear-gradient(to right, #93291E, #ED213A);  
    background: linear-gradient(to right, #93291E, #ED213A); 

}
.formBx form a
{
    color: #333;
    letter-spacing: 0.05em;
    font-size: 0.8em;
}

